
 
<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>

<!--  
 <nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home Component</a></li>
    <li><a routerLink="/blog" routerLinkActive="active">Blog Component</a></li>
    <li><a routerLink="/post" routerLinkActive="active">Post Component</a></li>
  </ul>
</nav>
-->



<!--  <app-post-card></app-post-card>  -->

<!--   <app-latest-posts></app-latest-posts>  -->

<!--   <app-post-data></app-post-data>  -->

<!--    <app-footer-posts></app-footer-posts>  -->

 <!--  <app-posts-table></app-posts-table>  -->

<!--  <app-tags></app-tags>  -->

<!--    <app-categories></app-categories>  -->

<!--  <app-paging></app-paging>  -->

<!-- <app-home></app-home> -->

<!-- <app-blog></app-blog>  -->

<!--  <app-post></app-post> -->

<!--   <app-page-not-found></app-page-not-found>  -->


<!--     <app-new-post></app-new-post> -->

<!-- <app-edit-post></app-edit-post>  -->