<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home Component</a></li>
    <li><a routerLink="/blog" routerLinkActive="active">Blog Component</a></li>
    <li><a routerLink="/post" routerLinkActive="active">Post Component</a></li>
  </ul>
</nav>


<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>


<!-- <app-home></app-home> -->

<!-- <app-blog></app-blog>  -->

<!-- <app-post></app-post> -->

<!--   <app-page-not-found></app-page-not-found>  -->


